/* TODO: insert default styles of your component here for easy access */

.highlight {
  background: #ffd6d6;
}

.highlight-wrapper {
  background: #ffa1a1;
}

.flexBox {
  display: flex;
}
.flexBox > * {
  flex: 1;
}

/* Styling resets */

p,
h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0;
}
