/* Styling resets */

p,
h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Demo helpers */

.highlight {
  background: #ffd6d6;
}

.highlight-margins {
  display: inline-block;
  width: 100%;
  background: #f9cc9d;
}

.highlight-padding {
  background: #c4d08b;
}

.highlight-element {
  background: #8cb6c1;
}

/* Layout helpers */

.flexBox {
  display: flex;
}
.flexBox > * {
  flex: 1;
}
